<div class="container">
    <video autoplay loop muted id="bg-video">
        <source src="./src/assets/particles.mp4" type="video/mp4">
    </video>
    <div class="gameover-block">
        <p class="text-center text-light gameover-title">Game Over</p>
        <div class="gameover-results">
            <p class="text-center text-light gameover-text">Time: <span id="finalTime"></span></p>
            <p class="text-center text-light gameover-text">Level: <span id="finalLevel"></span></p>
            <p class="text-center text-light gameover-text">Score: <span id="finalScore"></span></p>
            <p class="text-center text-light gameover-text">Best: <span id="highscore"></span></p>
        </div>
        <p class="text-center text-light gameover-text" style="margin-top: 10%;" id="gameOverRetry">Press space to retry</p>
    </div>
</div>