<div id="header" class="d-flex justify-content-between">
  <div class="d-flex justify-content-start">
    <img
      src="/src/assets/hearth2.png"
      class="ms-3 mt-2"
      width="35px"
      height="35x"
    />
    <p class="text-light text-header ms-3">Lives: <span id="lives">3</span></p>
  </div>
  <div class="d-flex justify-content-end">
    <p class="text-header me-5" id="combo"></p>
    <p class="text-light text-header me-5" id="scoreCount"></p>
    <p class="text-light text-header me-5">Score: <span id="score">0</span></p>
    <p class="text-light text-header me-5">Speed: <span id="speed">1</span></p>
    <p class="text-light text-header me-4" id="timer">00:00</p>
  </div>
</div>

<div class="center">
  <div id="loading" class="loading">Loading...</div>
  <canvas id="canvas"></canvas>
  <div id="text-section" class="text-center">
    <div id="text"></div>
    <div id="player-text"></div>
  </div>
</div>

<!-- <div class="row" id="game-board">
  <div class="col-3 side-block"></div>
  <div class="col-6" id="game-window">
    <div id="top-wall" class="wall"></div>
    <div id="bottom-wall" class="wall"></div>
    <div id="left-wall" class="wall"></div>
    <div id="right-wall" class="wall"></div>
    <div id="boss-section">
      <div id="boss">
        <div id="b">
          <div id="bullets"></div>
        </div>
      </div>
    </div>
    <div id="player-section"></div>
    <div id="text-section" class="text-center">
      <div id="text"></div>
    </div>
  </div>
  <div class="col-6 side-block"></div>
</div> -->
<div class="fixed-bottom d-flex justify-content-center">
  <p class="text-light popup-letter" id="popupLetter"></p>
</div>
