/* :root {
    --duration: 5s;
} */

@font-face {
  font-family: arcade;
  src: url("../assets/CosmicAlien-V4Ax.ttf") format("truetype");
}

body {
  background-color: black;
  overflow: hidden;
}

.text-header {
  font-family: arcade;
  font-size: 35px;
}

.popup-letter {
  font-family: arcade;
  font-size: 50px;
  position: absolute;
  bottom: 0;
}

#game-window {
  position: relative;
  background-image: url("../assets/images/map.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#boss-section {
  position: relative;
  height: 25vh;
}

#boss {
  position: absolute;
  top: 80%;
  right: 50%;
  left: 40%;
  margin: 0 auto;
  width: 90px;
  aspect-ratio: 1;
  background-image: url("../assets/images/boss.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /* animation: moveLeftRight 3s infinite alternate; */
}

#b {
  position: relative;
}

@keyframes moveLeftRight {
  0% {
    left: 0;
  }
  100% {
    left: calc(100% - 100px);
  }
}

.bullet {
  animation: bullet-move 5s linear infinite;
}

@keyframes bullet-move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(var(--random-x), var(--random-y));
  }
}

#player-section {
  height: 55vh;
}

#text-section {
  /* display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; */
  height: 11.3vh;
  font-family: arcade;
  font-size: 30px;
}

/* .slideDown {
    animation: slideDown var(--duration) linear forwards;
} */

/* .fixed-width-col {
    width: 12.5%;
    flex: 0 0 12.5%;
    position: relative;
} */

.active {
  color: orange;
}

#bullets {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.bullet {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../assets/misc/bullet.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: moveBullet 0.5s linear infinite; /* Increased speed and infinite duration */
}

@keyframes moveBullet {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(var(--random-x), var(--random-y));
  }
}

.bullet.bounce {
  animation: bounceBullet 1s linear infinite;
}

@keyframes bounceBullet {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(var(--random-x), var(--random-y));
  }
}

/* @keyframes slideDown {
    0% {
        top: 0;
    }
    100% {
        top: 71vh;
    }
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  } */

.wall {
  position: absolute;
  background-color: red; /* Make walls invisible */
}

#top-wall {
  top: 0;
  left: 0;
  width: 100%;
  height: 10px; /* Adjust thickness as needed */
}

#bottom-wall {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px; /* Adjust thickness as needed */
}

#left-wall {
  top: 0;
  left: 0;
  width: 10px; /* Adjust thickness as needed */
  height: 100%;
}

#right-wall {
  top: 0;
  right: 0;
  width: 10px; /* Adjust thickness as needed */
  height: 100%;
}
