@font-face {
  font-family: arcade;
  src: url("../assets/CosmicAlien-V4Ax.ttf") format("truetype");
}

body {
  background-color: black;
  overflow: hidden;
}

.text-header {
  font-family: arcade;
  font-size: 35px;
}

.popup-letter {
  font-family: arcade;
  font-size: 50px;
  position: absolute;
  bottom: 0;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 93vh;
}

.loading {
  font-family: arcade;
  font-size: 50px;
  color: white;
}

#game-window {
  position: relative;
  background-image: url("../assets/images/map.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#boss-section {
  position: relative;
  height: 25vh;
}

#boss {
  position: absolute;
  top: 80%;
  right: 50%;
  left: 40%;
  margin: 0 auto;
  width: 90px;
  aspect-ratio: 1;
  background-image: url("../assets/images/boss.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /* animation: moveLeftRight 3s infinite alternate; */
}

#b {
  position: relative;
}

@keyframes moveLeftRight {
  0% {
    left: 0;
  }
  100% {
    left: calc(100% - 100px);
  }
}

.bullet {
  animation: bullet-move 5s linear infinite;
}

@keyframes bullet-move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(var(--random-x), var(--random-y));
  }
}

#player-section {
  height: 55vh;
}

#text-section {
  position: absolute;
  font-family: arcade;
  font-size: 30px;
  background-color: #d2b48c;
  border: 2px solid #8b7d6b;
  border-radius: 8px;
  padding: 10px 20px;
  color: #3e3e3e;
  font-weight: bold;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  background-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 70%
    ),
    radial-gradient(circle, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 70%);
  background-blend-mode: multiply;
  background-size: 200px 200px;
  line-height: 90px;
  bottom: 0;
}

#text {
  position: relative;
}

.active {
  color: orange;
}

#bullets {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.bullet {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../assets/misc/bullet.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: moveBullet 0.5s linear infinite; /* Increased speed and infinite duration */
}

@keyframes moveBullet {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(var(--random-x), var(--random-y));
  }
}

.bullet.bounce {
  animation: bounceBullet 1s linear infinite;
}

@keyframes bounceBullet {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(var(--random-x), var(--random-y));
  }
}

.wall {
  position: absolute;
  background-color: red; /* Make walls invisible */
}

#top-wall {
  top: 0;
  left: 0;
  width: 100%;
  height: 10px; /* Adjust thickness as needed */
}

#bottom-wall {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px; /* Adjust thickness as needed */
}

#left-wall {
  top: 0;
  left: 0;
  width: 10px; /* Adjust thickness as needed */
  height: 100%;
}

#right-wall {
  top: 0;
  right: 0;
  width: 10px; /* Adjust thickness as needed */
  height: 100%;
}

#explosion {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.7); /* Czerwony kolor wybuchu */
  transform: translate(-50%, -50%);
  opacity: 1;
  animation: explode 0.3s forwards;
}

.x2 {
  color: #edd479;
  font-size: 23px
}

.x3 {
  color: #f5c451;
  animation: shake 1s infinite;
  font-size: 25px
}

.x4 {
  color: #ed8a34;
  animation: shake 0.7s infinite;
  font-size: 27px
}

.x5 {
  color: #ed5634;
  animation: shake 0.5s infinite;
  font-size: 30px
}

.x6 {
  color: #fc3030;
  animation: shake 0.2s infinite;
  font-size: 35px
}

@keyframes explode {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  50% {
    width: 150px; /* Zwiększamy rozmiar */
    height: 150px; /* Zwiększamy rozmiar */
    opacity: 0.5; /* Zmniejszamy przezroczystość */
  }
  100% {
    width: 200px; /* Końcowy rozmiar */
    height: 200px;
    opacity: 0; /* Efekt zanikania */
  }
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
